

    $amarelo: #F7C600;
    $preto: #1A1A1A;
    $laranja: #FF9C01;
    $roxo: #1E0540;
    $roxo-escuro:#160433;
    $cinza:#E6E6E6;





$titulo:  'Barlow Condensed', sans-serif;
$texto:'Merriweather Sans', sans-serif;
$subtitle:'Francois One',sans-serif;