@import '../variaveis.scss';
@import '../dark-mode.scss';


html {
  margin: 0 3.5%;
  width: 93%
}
li h3{
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text
}
button:focus {
  outline:0;
}


@import 'layout/loader.scss';
@import 'layout/header.scss';
@import 'layout/about.scss';
@import 'layout/projects.scss';
@import 'layout/articles.scss';
@import 'layout/contato.scss';
@import 'layout/curriculo.scss';
@import 'layout/media-queries-index.scss';


