html {
  --bg-title: #F7C600;
  --box-shadow: #E6E6E6;
  background-color: var(--bg-all);
  --bg-all: white;
  --font: #1A1A1A;
  --font-negative: #E6E6E6;
  --bg-snack: #1E0540;
  --box-shadow-snack: #160433;
  --scroll: #ccc;
  --bg-button: #1E0540;
}

html[data-theme='dark'] {
  --bg-title: #FF9C01;
  --bg-all: #1E0540;
  --box-shadow: #160433;
  --font: #E6E6E6;
  --font-negative: #1A1A1A;
  --bg-snack: #F7C600;
  --box-shadow-snack: #FF9C01;
  --scroll: #160433;
  --bg-button: #FF9C01;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 1rem;
  border-radius: 2rem 2rem 2rem 2rem;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

li img, img, div:not(p, h1, h2, h3), li:not(h3) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0 3.5%;
  width: 93%;
}

li h3 {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

button:focus {
  outline: 0;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #1E0540;
  align-items: center;
  justify-content: center;
}
.se-pre-con img {
  width: 15%;
  animation-name: rotacao;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: -5s;
}

@keyframes rotacao {
  0% {
    width: 15%;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
    width: 20%;
  }
  50% {
    width: 15%;
    transform: rotate(-405deg);
  }
  75% {
    transform: rotate(-405deg);
    width: 20%;
  }
}
.loaded-img {
  transform: rotate(0deg);
  width: 22rem;
}

html {
  font-size: 20px;
}

.background-yellow {
  margin: 0 auto;
  max-width: 95%;
  background-color: var(--bg-title);
  box-shadow: 1rem 1.5rem var(--box-shadow);
  -moz-box-shadow: 1rem 1.5rem var(--box-shadow);
  -webkit-box-shadow: 1rem 1.5rem var(--box-shadow);
  -o-box-shadow: 1rem 1.5rem var(--box-shadow);
  border-radius: 0 0 2rem 2rem;
}

header {
  padding: 2%;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.linguagem {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 8rem;
  justify-content: space-around;
}

.switch {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 3.8rem;
}

.switch input {
  display: none;
}

.slider {
  border-style: solid;
  border-width: 0.05rem;
  border-color: white;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0.0rem;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.1rem;
  content: "";
  height: 1.65rem;
  width: 1.65rem;
  left: 0.3rem;
  position: absolute;
  transition: .4s;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

input:checked + .slider {
  border-style: solid;
  border-width: 0.05rem;
  border-color: white;
}

input:checked + .slider:before {
  transform: translateX(1.55rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.container img {
  width: 2.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.linguagem a {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linguagem a span {
  text-decoration: none;
  padding-bottom: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  color: #1A1A1A;
}

.linguagem a img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  width: 3rem;
}

.linguagem a:hover {
  transition: 0.3s;
  font-size: 1.0em;
}
.linguagem a:hover img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transform: scale(1.1);
}

.logo-pedro {
  width: 5.5rem;
  transition: ease-in-out 1.3s;
  margin-bottom: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.logo-pedro:hover {
  transform: rotate(-765deg);
  transition: ease-in-out 1.3s;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 2%;
  align-items: end;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
}

.background-yellow h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-size: 7em;
}

.background-yellow h2 {
  font-family: "Barlow Condensed", sans-serif;
  color: #1A1A1A;
  font-size: 1.9em;
  padding-bottom: 1rem;
}

.info-title-text {
  display: flex;
  vertical-align: initial;
  justify-content: space-between;
  width: 62%;
}

.info-title-text p {
  padding-bottom: 0.2rem;
  font-family: "Barlow Condensed", sans-serif;
  color: #1A1A1A;
  font-size: 1.5em;
}

.info-title-text img {
  cursor: pointer;
  width: 1em;
  transition: 0.4s;
}

.info-title-text img:hover {
  transition: 0.4s;
  width: 1.15em;
}

.snackbar {
  margin: 0 36%;
  color: var(--font-negative);
  font-family: "Barlow Condensed", sans-serif;
  width: 20%;
  padding: 1% 4%;
  text-align: center;
  font-size: 1.6em;
  background-color: var(--bg-snack);
  border-radius: 1.2rem;
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  transition: all 0ms;
  box-shadow: 0.3rem 0.5rem var(--box-shadow-snack);
  -moz-box-shadow: 0.3rem 0.5rem var(--box-shadow-snack);
  -webkit-box-shadow: 0.3rem 0.5rem var(--box-shadow-snack);
  -o-box-shadow: 0.3rem 0.5rem var(--box-shadow-snack);
}

.snackbar-hidden {
  visibility: hidden;
}

.snackbar-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 2rem;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 2rem;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.title-img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 29%;
}

.dots-transitions {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 2.1rem;
  margin: 3% 48.7%;
}

html.transition,
html.transition, *,
html.transition, *:before,
html.transition, *:after {
  transition: background-color 750ms, color 750ms, box-shadow 750ms;
  transition-delay: 0;
}

.about-me {
  margin: 0 auto;
  max-width: 89%;
  padding: 5% 2%;
  background-color: var(--bg-all);
  box-shadow: 1rem 1.5rem var(--box-shadow);
  -moz-box-shadow: 1rem 1.5rem var(--box-shadow);
  -webkit-box-shadow: 1rem 1.5rem var(--box-shadow);
  -o-box-shadow: 1rem 1.5rem var(--box-shadow);
  border-radius: 2rem;
}
.about-me p, .about-me h2 {
  color: var(--font);
}

.about-me h2 {
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
}

.about-me-text-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-text {
  width: 50%;
}

.about-me p {
  font-size: 1.1em;
  line-height: 1.2em;
  font-family: "Merriweather Sans", sans-serif;
}

.about-me-img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 40%;
}

b {
  color: #FF9C01;
}

.projects {
  margin-top: 10%;
  margin-bottom: 7%;
}

.projects h2 {
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
  color: var(--font);
}

ul {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects li {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 14rem;
  border-style: solid;
  border-width: 0.1rem;
  padding: 3%;
  border-color: #ccc;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 2%;
  transition: ease-in-out 300ms;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.projects li img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 10rem;
  margin-bottom: 2rem;
}

li h3 {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--font);
  font-size: 1em;
}

li:hover {
  transform: scale(1.2);
  transition: ease-in-out 300ms;
}

.articles {
  margin-top: 10%;
  margin-bottom: 7%;
}

.articles h2 {
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
  color: var(--font);
}

ul {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.articles li {
  height: 19rem;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 30%;
  border-style: solid;
  border-width: 0.1rem;
  padding-bottom: 1.5%;
  border-color: #ccc;
  border-radius: 0rem 0rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 1%;
  transition: ease-in-out 300ms;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.articles li img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.articles li div {
  margin: 3% 6.5%;
}

li h3 {
  text-align: initial;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--font);
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5%;
}

li p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.0em;
  margin-bottom: 0.5rem;
  color: var(--font);
  line-height: 1.1rem;
}

li:hover {
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}

.contato {
  color: var(--font);
  width: 95%;
  margin: 0 2.5%;
}

.contato h2 {
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
}

.contato-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contato-grid div {
  margin: 0 1%;
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contato-grid img {
  width: 7rem;
  margin-bottom: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.contato-grid h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.contato-grid p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.0em;
  margin-bottom: 0.5rem;
}

.contato-grid button {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 1rem 1.3rem;
  background-color: var(--bg-button);
  border-radius: 1rem;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1em;
}

.contato-grid button:hover, .contato-grid button:focus {
  position: relative;
  top: 0.2rem;
}

.curriculo {
  width: 95%;
  margin: 8% 2.5%;
  margin-top: 6%;
}

.curriculo h2 {
  color: var(--font);
  margin-bottom: 4%;
  text-align: center;
  font-size: 3rem;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
}

.curriculo-geral, .curriculo-download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bandeiras {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(-16%);
  width: 6rem;
  margin-bottom: 3%;
}

.div-curriculo {
  padding: 4% 1%;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #ccc;
  border-radius: 3rem;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.curriculo-download div {
  margin: 3% 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  transition: ease-in-out 300ms;
  cursor: pointer;
}
.curriculo-download div:hover {
  transform: scale(1.1);
  transition: ease-in-out 300ms;
}
.curriculo-download img {
  width: 10rem;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.curriculo-download h3 {
  color: var(--font);
  font-size: 1.5em;
  font-family: "Barlow Condensed", sans-serif;
}

@media (max-width: 75rem) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 62.5rem) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 56rem) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 54rem) {
  .about-me-text-img {
    flex-direction: column;
  }

  .about-me-text {
    width: 95%;
  }

  .about-me-img {
    margin-top: 2%;
    width: 50%;
  }

  .contato-grid div {
    margin: 2% auto;
    width: 40%;
  }

  .curriculo-geral {
    flex-direction: column;
  }
  .curriculo-geral .div-curriculo {
    margin: 3% auto;
    width: 90%;
  }
}
@media (max-width: 49rem) {
  .articles li {
    width: 40%;
  }
}
@media (max-width: 48.1rem) {
  .title, .projects ul {
    font-size: 14px;
  }

  .info-title-text img {
    width: 1.2rem;
  }

  .linguagem {
    width: 50%;
  }

  .dots-transitions {
    margin-top: 4.5%;
  }

  li:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 43.1rem) {
  .about-me {
    box-shadow: 0 0 var(--box-shadow);
    -moz-box-shadow: 0 0 var(--box-shadow);
    -webkit-box-shadow: 0 0 var(--box-shadow);
    -o-box-shadow: 0 0 var(--box-shadow);
  }

  .about-me img {
    width: 80%;
  }

  .logo-pedro {
    width: 4.5rem;
  }

  .background-yellow h2 {
    font-size: 2.2em;
  }

  .title, .projects ul {
    font-size: 12px;
  }

  li h3 {
    font-size: 1.5em;
  }

  .info-title-text img {
    width: 1.3rem;
  }

  .info-title-text p {
    font-size: 1.6em;
  }
}
@media (max-width: 40rem) {
  .dots-transitions {
    margin-top: 6.5%;
    margin-bottom: 3%;
  }

  .articles li {
    height: 20rem;
    width: 50%;
    margin: 5% 0%;
  }
}
@media (max-width: 38.25rem) {
  .title {
    flex-direction: column-reverse;
    align-items: center;
  }

  .title-img {
    width: 45%;
  }

  .title-text {
    align-items: center;
  }

  .background-yellow h2 {
    font-size: 2em;
  }

  .dots-transitions {
    width: 1.2rem;
  }

  .background-yellow {
    padding: 0% 2% 2% 2%;
    margin: 0 auto;
    max-width: 92%;
  }

  .background-yellow h1 {
    font-size: 5em;
  }

  .info-title-text {
    width: 96%;
  }

  .info-title-text p {
    font-size: 1.5em;
  }

  .info-title-text img {
    width: 1rem;
  }

  .linguagem {
    width: 70%;
  }

  .about-me h2, .contato h2, .curriculo h2, .projects h2, .articles h2 {
    font-size: 2em;
  }

  li img {
    width: 7rem;
  }

  li h3 {
    font-size: 1.4em;
  }

  .curriculo-download h3 {
    font-size: 1.1em;
  }

  .curriculo-download img {
    width: 55%;
  }

  li {
    width: 10rem;
  }

  .contato-grid img {
    width: 6rem;
  }

  .bandeiras {
    width: 4rem;
  }

  .curriculo-download img {
    width: 70%;
  }

  .containter {
    transform: scale(0.9);
  }

  .contato-grid button {
    padding: 0.9rem;
  }

  .snackbar {
    width: 50%;
    padding: 2% 6%;
    margin: 0 19%;
  }
}
@media (max-width: 31rem) {
  .logo-pedro {
    width: 4.0rem;
  }

  .background-yellow h2 {
    font-size: 2em;
  }

  .contato-grid div {
    width: 90%;
    margin: 2% auto;
  }

  .projects li {
    padding: 6% 2%;
    min-width: 38%;
    margin: 3% 1.5%;
    text-align: center;
  }

  li img {
    margin-bottom: 1rem;
  }

  .articles h3 {
    font-size: 1.1em;
  }
  .articles li {
    width: 60%;
  }
}
@media (max-width: 28rem) {
  .background-yellow {
    box-shadow: 0 var(--box-shadow);
    -moz-box-shadow: 0 var(--box-shadow);
    -webkit-box-shadow: 0 var(--box-shadow);
    -o-box-shadow: 0 var(--box-shadow);
  }

  .background-yellow h2 {
    font-size: 1.5em;
  }

  .info-title-text {
    width: 100%;
  }

  .about-me p {
    font-size: 1.0em;
  }

  .linguagem a span {
    display: none;
    text-align: center;
    width: 60%;
  }

  .background-yellow h1 {
    font-size: 4em;
  }

  .info-title-text {
    font-size: 11px;
  }

  .container {
    transform: scale(0.8);
  }

  li h3 {
    font-size: 1.15em;
  }

  ul {
    width: 100%;
  }

  .projects li {
    width: 9rem;
    padding: 8% 1%;
    min-width: 38%;
    margin: 3% 1%;
    text-align: center;
  }
  .projects li img {
    width: 6rem;
  }

  .contato-grid img {
    width: 4.6rem;
  }
}
@media (max-width: 22rem) {
  .curriculo-download {
    flex-direction: column;
  }

  .background-yellow h2 {
    font-size: 1.3em;
  }

  .title-text {
    align-items: center;
  }

  .linguagem a {
    flex-direction: column;
  }
  .linguagem a span {
    display: none;
  }
}
