.img-page{
    padding-right: 2%;
    height: 52%;
    width: 52%;
    margin: auto 0;
}

.next-page{
    padding: 0% 2% 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-title);
}
.next-page h1{
    font-size: 4em;
    color: white;
    font-family: $subtitle;
}
.next-page img{
    height: auto;
    width: 3rem;
    transition: 200ms !important;
}
.next-page img:hover{
    transform: scale(1.2);
    transition: 200ms !important;
}
.div-between{
    width: 1%;
    height: auto;
    background-color: var(--box-shadow);
}   
.img-text-page{
    transition: all 0ms;
    display: flex;
}   

.text-page{
    height: auto;
    padding: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    em {
        font-style: italic;
      }
}


.text-page h2{
    margin: 2%;
    text-align: center;
    font-size: 2em;
    font-family: $titulo;
    color: var(--font);
}



.btn-direct{
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem 1.3rem;
    background-color:var(--bg-button);
    border-radius: 1rem;
    color: white;
    font-family: $texto;
    font-size: 1em;
}
.btn-direct:hover, .btn-direct:focus{
    position: relative;
    top: 0.2rem;
}


.text-page p{
    font-size: 1em;
    font-family: $texto;
    color: var(--font);
    padding: 0 2%;
    line-height: 1.2em;
}

.text-page h3{
    margin: 1% 0%;
    text-align: center;
    font-size: 1.5em;
    font-family: $titulo;
    color: var(--font);

}

#my-video{
    margin: 3% auto;
}
.works-display{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;

    li {

        width: 28%;
        margin: 2% 0%;
        cursor: pointer;
        
        img{
        height: auto;
        width: 100%;
        transition: 0.4s;
        
        }

        img:hover{
            transition: 0.4s;
            transform: scale(1.3);
        }
    }

}

.participants-text{
    font-size: 1em;
    font-family: $texto;
    color: var(--font);
    display: block;
    text-align: center;
    line-height: 1.5em;

}

.softwares-text{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.softwares-text li{
    margin: 1%;
    text-align: center;
    padding: 0.7rem;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
    font-size: 1em;
    font-family: $texto;
    color: var(--font);
}
