html{
    font-size: 20px;
}





header{
    padding: 2%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: var( --bg-title);
    padding-bottom: 0.7rem;
}   

.logo-pedro{

    width: 3.5rem;
    transition: ease-in-out 1.3s;

}

.logo-pedro:hover{
    transform: rotate(-765deg);
    transition: ease-in-out 1.3s;

}

.linguagem{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    transform: scale(0.8);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width:8rem;
    justify-content: space-around;
}

.switch {
    display: inline-block;
    height: 2rem;
    position: relative;
    width: 3.8rem;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    border-style: solid;
    border-width: 0.05rem;
    border-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0.0rem;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.1rem;
    content: "";
    height: 1.65rem;
    width: 1.65rem;
    left: 0.3rem;
    position: absolute;
    transition: .4s;

  }
  
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;

  }
  
  input:checked + .slider {
    border-style: solid;
    border-width: 0.05rem;
    border-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.55rem);
  }
  
  .slider.round {
    border-radius: 2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .container img{
    width: 2.5rem;
  }

.linguagem a{
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linguagem a span{
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-family: $texto;
    color: $preto;
}

.linguagem a img{
    transition: 0.3s;
    width: 2.5rem;
}

.linguagem a:hover{
    transition: 0.3s;
    font-size: 1.0em;
    img{
        transform: scale(1.2);
    }
}


html.transition,
html.transition, *,
html.transition, *:before,
html.transition, *:after {
  transition: background-color 750ms, color 750ms ;
  transition-delay: 0 ;
}


