@media (max-width:75rem){
    html{
        font-size: 18px;
    }
}

@media (max-width:62.5rem){
    html{
        font-size: 16px;
    }
}

@media (max-width:56rem){

.img-text-page{
    flex-direction: column;
}
.img-page {
    width: 98%;
    padding: 5% 1%;
}

.div-between {
    width: auto;
    height: 0.5rem;
}
.text-page {
    width: 96%;
    padding: 0 2%;
}

    
}

@media (max-width:45rem){
    .linguagem {
        width: 65%;
   
    }
}

@media (max-width:40rem){

    .next-page h1 {
        font-size: 3em;
    }

}


@media (max-width:38.25rem){

    .linguagem {
        width: 70%;
    }



}
@media (max-width:31rem){

    .logo-pedro {
        width: 3rem;
    }

    .next-page{
        h1 {
            font-size: 2em;
        }

        img{
            height: auto;
            width: 2rem;
        }
    }


}
@media (max-width:28rem){

    .container {
        transform: scale(0.8);
    }
    .linguagem a span {
        display: none;
        text-align: center;
        width: 60%;
    }

    .text-page h2 {
        font-size: 1.7em;
        margin: 4%;
    }

}

@media (max-width:22rem){

    .next-page{
        h1 {
            font-size: 1.75em;
        }

        img{
            height: auto;
            width: 1.7rem;
        }
    }

    .text-page h2 {
        font-size: 1.5em;
    }


}

