.about-me{
    p,h2{
        color: var(--font);
    }
    margin: 0 auto;
    max-width: 89%;
    padding: 5% 2%;
    background-color: var(--bg-all);
    box-shadow: 1rem 1.5rem   var(--box-shadow);
    -moz-box-shadow: 1rem 1.5rem   var(--box-shadow);
    -webkit-box-shadow: 1rem 1.5rem   var(--box-shadow);
    -o-box-shadow: 1rem 1.5rem   var(--box-shadow);
    border-radius:2rem;
}



.about-me h2{
    margin-bottom: 4%;
    text-align: center;
    font-size: 3rem;
    font-family: $subtitle;
    text-transform: uppercase;
}

.about-me-text-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-text{
    width: 50%;
}

.about-me p{
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: $texto;
}

.about-me-img{
    width: 40%;
}

b{
    color: $laranja;
}