.articles{
    margin-top: 10%;
    margin-bottom: 7%;
}
.articles h2{
    margin-bottom: 4%;
    text-align: center;
    font-size: 3rem;
    font-family: $subtitle;
    text-transform: uppercase;
    color: var(--font);
    
}

ul{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.articles li{
    height:19rem;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 30%;
    border-style: solid;
    border-width: 0.1rem;
    padding-bottom:1.5%;
    border-color: #ccc;
    border-radius: 0rem 0rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 1%;
    transition: ease-in-out 300ms;
}

li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
}
.articles .subtitle{
    width: 80%;
    margin: 0% 10%;
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: $texto;
    color: var(--font);
}

.articles li img{
    @include unselect;
    width:100%;
    overflow: hidden;
    margin-bottom: 0.5rem;
    
}

.articles li div{
    margin: 3% 6.5%;
}
li h3{
    text-align: initial;
    font-family: $texto;
    color: var(--font);
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5%;
}

li p{
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.0em;
    margin-bottom: 0.5rem;
    color: var(--font);
    line-height: 1.1rem;
}

li:hover{
   transform: scale(1.1);
   transition: ease-in-out 300ms;
}