.contato{
    width: 95%;
    margin: 0 2.5%;
}

.contato h2{
    margin-bottom: 4%;
    text-align: center;
    font-size: 3rem;
    font-family: $subtitle;
    text-transform: uppercase;
}

.contato-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contato-grid div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contato-grid img{
    width: 10rem;
    margin-bottom: 1rem;

}

.contato-grid h3{
    font-family: $titulo;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.contato-grid p{
    font-family: $texto;
    font-size: 1.0em;
    margin-bottom: 0.5rem;
}

.contato-grid button{
    margin-bottom: 2rem;
    box-shadow:  0.0 0.45rem   #E6E6E6;
    -moz-box-shadow: 0.0 0.45rem   #E6E6E6;
    -webkit-box-shadow:0.0 0.45rem   #E6E6E6;
    -o-box-shadow: 0.0 0.45rem   #E6E6E6;
    padding: 1rem 1.3rem;
    background-color: $roxo;
    border-radius: 1rem;
    color: white;
    font-family: $texto;
    font-size: 1em;
}

.contato-grid button:hover{
    position: relative;
    top: 0.2rem;
    box-shadow:  0.0 0.0   #E6E6E6;
    -moz-box-shadow: 0.0 0.0   #E6E6E6;
    -webkit-box-shadow:0.0 0.0   #E6E6E6;
    -o-box-shadow: 0.0 0.0   #E6E6E6;
}