html{
    font-size: 20px;
}


.background-yellow{
    margin: 0 auto;
    max-width: 95%;
    background-color: var(--bg-title);
    box-shadow: 1rem 1.5rem   var(--box-shadow);
    -moz-box-shadow: 1rem 1.5rem   var(--box-shadow);
    -webkit-box-shadow: 1rem 1.5rem   var(--box-shadow);
    -o-box-shadow: 1rem 1.5rem   var(--box-shadow);
    border-radius: 0 0 2rem 2rem;
}


header{
    padding: 2%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between ;
    align-items: end;
}   

.linguagem{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width:8rem;
    justify-content: space-around;
}

.switch {
    display: inline-block;
    height: 2rem;
    position: relative;
    width: 3.8rem;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    border-style: solid;
    border-width: 0.05rem;
    border-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0.0rem;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.1rem;
    content: "";
    height: 1.65rem;
    width: 1.65rem;
    left: 0.3rem;
    position: absolute;
    transition: .4s;

  }
  
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;

  }
  
  input:checked + .slider {
    border-style: solid;
    border-width: 0.05rem;
    border-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.55rem);
  }
  
  .slider.round {
    border-radius: 2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .container img{
    width: 2.5rem;
    @include unselect;
  }

.linguagem a{
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linguagem a span{
    text-decoration: none;
    padding-bottom: 0.5rem;
    font-family: $texto;
    color: $preto;
}

.linguagem a img{
    @include unselect;
    transition: 0.3s;
    width: 3rem;
}

.linguagem a:hover{
    transition: 0.3s;
    font-size: 1.0em;
    img{
      @include unselect;
        transform: scale(1.1);
    }
}
.logo-pedro{

    width: 5.5rem;
    transition: ease-in-out 1.3s;
    margin-bottom: 2rem;
    @include unselect;
}

.logo-pedro:hover{
    transform: rotate(-765deg);
    transition: ease-in-out 1.3s;

}

.title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 2%;
    align-items: end;

}
.title-text{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
}

.background-yellow h1{
    font-family: $titulo;
    color: white;
    font-size: 7em;
}


.background-yellow h2{
    font-family: $titulo;
    color: $preto;
    font-size: 1.9em;
    padding-bottom: 1rem;
}


.info-title-text{
    
    display: flex;
    vertical-align: initial;
    justify-content: space-between;
    width: 62%;
}

.info-title-text p{
    padding-bottom: 0.2rem;
    font-family: $titulo;
    color: $preto;
    font-size: 1.5em;

}

.info-title-text img{
  
    cursor: pointer;
    width: 1em;
    transition: 0.4s;
}

.info-title-text img:hover{
    transition: 0.4s;
    width: 1.15em;
}

.snackbar{
    margin: 0 36%;
    color: var(--font-negative);
    font-family: $titulo;
    width: 20%;
    padding: 1% 4%;
    text-align: center;
    font-size: 1.6em;
    background-color: var(--bg-snack);
    border-radius:1.2rem;
    position: fixed;
    z-index: 1;
    bottom: 2rem; 
    transition: all 0ms;
    box-shadow: 0.3rem 0.5rem var( --box-shadow-snack);
    -moz-box-shadow: 0.3rem 0.5rem  var( --box-shadow-snack);
    -webkit-box-shadow:  0.3rem 0.5rem var( --box-shadow-snack);
    -o-box-shadow:  0.3rem 0.5rem var( --box-shadow-snack);
}
.snackbar-hidden{
    visibility: hidden;
    
}

.snackbar-show{
  
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 2rem; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 2rem; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 2rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 2rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


.title-img{
    @include unselect;
    width: 29%;

}

.dots-transitions {
  @include unselect;
    width: 2.1rem;
    margin: 3% 48.7%;
}


html.transition,
html.transition, *,
html.transition, *:before,
html.transition, *:after {
  transition: background-color 750ms, color 750ms, box-shadow 750ms;
  transition-delay: 0 ;
}
